.navbar {
    background-color: grey;
    border: 2px solid black;
}

div > ul > li {
    /* text-align: center; */
    border-bottom: 1px solid black;
    
 
}

h1 {
    /* text-align: center; */
    font-size: 2rem;
    font-family: sans-serif;
    margin: 15px;
    margin-bottom: 30px;
}

h2{ 
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.row {
   
}

section {
    width: 80%;
    background: grey;
}

